In [1]:
import numpy as np 
import pandas as pd 
import preprocess_kgptalkie as ps 
import re 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [2]:
fakedf = pd.read_csv('FakeNewsDataset/Fake.csv')
fakedf.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [3]:
truedf = pd.read_csv('FakeNewsDataset/True.csv')
truedf.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
fakedf['title'][2]

' Sheriff David Clarke Becomes An Internet Joke For Threatening To Poke People ‘In The Eye’'

In [5]:
truedf['title'][2]

"Senior U.S. Republican senator: 'Let Mr. Mueller do his job'"

In [6]:
truedf['class'] = 1

In [7]:
truedf.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
fakedf['class'] = 0
fakedf.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [9]:
truedf = truedf.append(fakedf)

In [10]:
truedf.head(-1)

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0

In [12]:
df = pd.DataFrame(truedf,columns=['title','class'])
df.head()

                                               title  class
0  As U.S. budget fight looms, Republicans flip t...      1
1  U.S. military to accept transgender recruits o...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...      1
3  FBI Russia probe helped by Australian diplomat...      1
4  Trump wants Postal Service to charge 'much mor...      1

In [13]:
df = df.sample(frac=1)
df.head()

                                                   title  class
20730  POPE MEETS WITH ANGRY, JEWISH, PR0 LATE-TERM A...      0
17090  Spain summons Venezuela Ambassador after Madur...      1
17989  HATE-FILLED LEFTISTS Tell Former Fox News Host...      0
18260  SNOPES IMPLODES! Liberal “Fact-Checker” Turns ...      0
6512   Trump to choose businessman Hagerty as next U....      1

In [14]:
df.isnull().sum()

title    0
class    0
dtype: int64

In [16]:
df['class'].value_counts()

0    23481
1    21417
Name: class, dtype: int64

In [17]:
def get_clean(x):
    x = str(x).lower().replace('\\', '').replace('_', ' ')
    x = ps.cont_exp(x)
    x = ps.remove_emails(x)
    x = ps.remove_urls(x)
    x = ps.remove_rt(x)
    x = ps.remove_accented_chars(x)
    x = ps.remove_special_chars(x)
    x = re.sub("(.)\\1{2,}", "\\1", x)
    return x

In [18]:
df['title']=df['title'].apply(lambda x: get_clean(x))

In [19]:
df.head()

                                                   title  class
20730  pope meets with angry jewish pr0 lateterm abor...      0
17090  spain summons venezuela ambassador after madur...      1
17989  hatefilled leftists tell former fox news host ...      0
18260  snopes implodes liberal factchecker turns to g...      0
6512   trump to choose businessman hagerty as next yo...      1

In [24]:
df.dtypes

title    object
class     int64
dtype: object

In [25]:
df['title'] = df['title'].astype('str')

In [26]:
tfidf = TfidfVectorizer(max_features=20000,ngram_range=(1,3), analyzer='char')

In [28]:
x = tfidf.fit_transform(df['title'])
y = df['class']

In [29]:
x.shape, y.shape

((44898, 10397), (44898,))

In [30]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2, random_state=42)

In [31]:
reg = SVC()
reg.fit(xtrain,ytrain)

SVC()

In [32]:
test_pred = reg.predict(xtest)
train_pred=reg.predict(xtrain)

In [34]:
test_acc = accuracy_score(ytest, test_pred)
train_acc = accuracy_score(ytrain, train_pred)
test_acc, train_acc

(0.9621380846325167, 0.9908680884236316)

The ACCURACY IS GOOD CONSIDERING THE SIMPLICITY OF THE MODEL